<mat-toolbar>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <span>NatyNET</span>
  <span class="example-spacer"></span>
  
  <button mat-button [matMenuTriggerFor]="aboveMenu">Inicio</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">¿Quiénes Somos?</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>Misión</button>
  <button mat-menu-item>Visión</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="beforeMenu">Servicios</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="afterMenu">Contácto</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
</mat-toolbar><br>


<h3 class="tit">Conóce Nuestros Planes</h3><br>
<div class="card-container">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Plan Básico</mat-card-title>
      <mat-card-subtitle>$23</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://i.revistapym.com.co/cms/2023/02/23131804/4-4.png?w=920.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>CONTRATAR AHORA</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Plan Ideal</mat-card-title>
      <mat-card-subtitle>$26</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.obicex.es/sites/obicex/files/styles/blog_desktop_webp/public/images/blog/gamer-jugador-profesionales.jpg.webp?itok=HyMSYBA6.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>CONTRATAR AHORA</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Plan Premier</mat-card-title>
      <mat-card-subtitle>$30</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://storage.googleapis.com/aqacentor-corporativewebs-pro--corporative-web--wp--pro--static/1/2024/02/habitacion-gaming-768x432.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>CONTRATAR AHORA</button>
    </mat-card-actions>
  </mat-card>
  
</div>
  <br><br> <br>
  <h3 class="tit">Nuestros Beneficios</h3>


<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>Máxima Velocidad</mat-grid-tile>
  <mat-grid-tile>
    <a href="https://enlace1.com" target="_blank">
      <img src="https://ergo2play.com/cdn/shop/articles/M314_900x.jpg?v=1633105598.jpg" alt="Imagen 1" style="width: 100%; height: 100%;" />
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a href="https://enlace1.com" target="_blank">
      <img src="https://www.lavozdemichoacan.com.mx/wp-content/uploads/2023/08/caracteristicas-gamer-profesional.jpg" alt="Imagen 1" style="width: 100%; height: 100%;" />
    </a>
  </mat-grid-tile>
  <mat-grid-tile>Planes Increíbles</mat-grid-tile>
</mat-grid-list><br><br><br>


<h3 class="tit">Cobertura de Nuestro Servicio</h3>

<mat-form-field>
  <mat-label>Buscar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Provincia </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Zona </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Tecnología </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>

</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
showFirstLastButtons
aria-label="Select page of periodic elements">
</mat-paginator>

<br><br><br>
<h3 class="tit">Contáctanos</h3>
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Teléfono </mat-panel-title>
      <mat-panel-description> Encuentrános en Facebook como NattyNet </mat-panel-description>
    </mat-expansion-panel-header>
    <p>098643991</p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Correo </mat-panel-title>
      <mat-panel-description> Encuentrános en Instagram como NattyNet </mat-panel-description>
    </mat-expansion-panel-header>
    <p>notificaciones-natynet.com</p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Dirección </mat-panel-title>
      <mat-panel-description> Encuentrános en Tiktok como NattyNet </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Av Quito y Río Toachi</p>
  </mat-expansion-panel>
</mat-accordion>
